<div class="container">
  <table class="table table-bordered table-striped">
    <tr>
    <th><%= @user.name%></th>
    <th><%= @user.lastname%></th>
    <th><%= @user.email%></th>
    </tr>
  </table>
</div>

<%= link_to "volver", users_path , class: "btn btn-default" %>
