<!DOCTYPE html>
<html>
  <body>

    <div class="container" id="Container">
      <div class="row">
        <div class="col-md-12">
          <h2>Centro de Facultad de Ingeniería</h2>
          <br>
          <p align="justify">Cada una de las cinco Facultades de la UTEM cuenta con un Centro de Transferencia Tecnológica y Vinculación, cuyo propósito es realizar una gestión operativa, asesorar y monitorear las distintas acciones de vinculación con el medio de la universidad.</p>
          <br>
          <p align="justify">Cada uno es responsable de coordinar los distintos programas de desarrollo e investigación, respondiendo también a las diversas necesidades que surgen de la sociedad.</p>
          <br>
          <p align="justify">Por otro lado, mantienen una activa participación en proyectos de innovación tecnológica con un marcado reconocimiento de su responsabilidad social.</p>
          <br>
          <h2>Director de Centro de Facultad</h2>
          <br>
          <h3>Fernando Ulloa Vásquez</h3>
          <br>
          <ul>
            <li>Dirección Virginio Arias N°1369, Ñuñoa, Santiago de Chile</li>
            <br>
            <li>Teléfono: (+56 2) 2272 2347</li>
          </ul>
          <br>
          <h2>Programas Facultad</h2>
          <br>
          <ul>
            <li><a target="_blank" href="http://vtte.utem.cl/tecnologico-del-envase/">Programa Tecnológico del Envase – PROTEN</a></li>
            <br>
            <li><a target="_blank" href="http://vtte.utem.cl/ernc-para-el-desarrollo-sustentable/">Programa de ERNC para el Desarrollo Sustentable</a></li>
            <br>
            <li><a target="_blank" href="http://vtte.utem.cl/gestion-y-administracion-del-territorio/">Programa de Gestión y Administración del Territorio</a></li>
            <br>
            <li><a target="_blank" href="http://vtte.utem.cl/apoyo-a-la-gestion-innovacion-y-emprendimiento/">Programa de Apoyo a la Gestión, Innovación y Emprendimiento</a></li>
            <br>
            <li><a target="_blank" href="http://vtte.utem.cl/investigacion-en-radiocomunicacion-digital/">Programa de Investigación en Radiocomunicación Digital – PIRD</a></li>
            <br>
            <li><a target="_blank" href="http://vtte.utem.cl/ingenieria-concurrente/">Programa de Ingeniería Concurrente</a></li>
            <br>
          </ul>
          <p align="justify"></P>
        </div>
      </div>
    </div>

  </body>
</html>
